.content-wrap{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.nav-header{
  height: 80px;
  background-color: #00bcd4;
  flex-shrink:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
}
.nav-header h3{
  margin: 0;
  font-weight: 600;
  font-size: 30px;
}
.nav-header span{
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 5px 8px;
  border-radius: 5px
}
.nav-header p{
  margin: 0;
}
.nav-footer{
  height: 80px;
  background-color: #00bcd4;
  flex-shrink:0;
  display: flex;
  align-items: center;
  justify-content:space-around;
  text-align: center;
  font-size: 18px;
}
.nav-footer a{
  color: #ffffff;
  flex-grow: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.nav-footer a:hover,nav-footer a:active{
  color:#F44336;
}
.nav-footer p:last-child{
  border: none;
}
.content-main{
  flex-grow: 1;
  background-color: #fff;
  overflow-y: scroll;
}
